<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- Disable WebDAV to allow PUT/DELETE -->
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      
      <!-- Allow all HTTP methods -->
      <security>
        <requestFiltering>
          <verbs allowUnlisted="true">
            <add verb="GET" allowed="true" />
            <add verb="POST" allowed="true" />
            <add verb="PUT" allowed="true" />
            <add verb="DELETE" allowed="true" />
            <add verb="OPTIONS" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\Chess3DBackend.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="outofprocess"
                  requestTimeout="00:20:00"
                  shutdownTimeLimit="10"
                  startupTimeLimit="120"
                  rapidFailsPerMinute="10">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="false" />
          <environmentVariable name="ASPNETCORE_PREVENTHOSTINGSTARTUP" value="false" />
        </environmentVariables>
      </aspNetCore>
      <httpErrors existingResponse="PassThrough" />
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <add name="X-Powered-By" value="ASP.NET Core" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
